################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/TestDll/Debug
/TestDll/x64/Debug
/xhao@TestCPP/Debug
/xhao@TestCPP/xhao@TestCPP.vcxproj.user
/Debug
*.user
/TestFriendFunAndCls/Debug
/TestDiffStructAndClass/Debug
/TestPolymorphic/Debug
/TestStream/Debug
/xhao@TestCPP/x64/Debug
/xhao@TestCPP.VC.VC.opendb
/xhao@TestCPP.VC.db
/TestDiffStructAndClass/x64/Debug
/TestFriendFunAndCls/x64/Debug
/TestPolymorphic/x64/Debug
/TestStream/x64/Debug
